<!DOCTYPE html>
<html ng-app="app">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>News apps</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    .highlighted {
      background: yellow;
    }
  </style>
</head>

<body ng-controller="appController as appCtrl">
  <div class="container-fluild">
    <div style="text-align:center">
      <div>
        <h1>News app</h1></div>
      <input type="text" value="" ng-model="appCtrl.searchText" placeholder="search text here">
      <button type="button" class="btn-sm btn-info" ng-click="appCtrl.searchAndDisplay()" name="button">Submit</button>
    </div>
  </div>
  <div ng-show="appCtrl.searchText.length > 0 ? true : false" class="container-fluild" id="newsid"
    ng-repeat="article in appCtrl.news.articles | filter: appCtrl.searchText">
    <div class="row">
      <div class="col-md-2">
        <img src="{{ article.urlToImage }}" alt="No image loaded" class="img-fluid"></img>
      </div>
      <div class="col-md-10">
        <p><span><strong>Title:</strong>{{ article.title }}</span></p>
        <p><span><strong>Description:</strong>
          {{ article.description }}
        </span><span><a href="{{ article.url }}" target="_blank">See More</a>
        </span>
          <ul class="list-inline">
            <li class="list-inline-item">Source: {{article.source.name }}</li>
            <li class="list-inline-item">Author: {{article.author}}</li>
            <li class="list-inline-item">Published: {{article.publishedAt | date }}</li>
          </ul>
      </div>
    </div>
  </div>
  <h1>Response from python: {{ appCtrl.pythonResponse }}</h1>
  <script type="text/javascript" src="dist/bundle.js">
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>ß
</body>

</html>
